<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="utf-8">
  <title></title>
  <meta name="Brendan">
  <meta name="HallLongmore Dev Website">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="{% static 'blog/static/css/bootstrap.min.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'blog/static/css/customstyles.css' %}"/>
</head>
<header>
  <div class="container">
  <div class="row">
  <div class="col-sm-4">{% block selectedtasks %} {% endblock %}</div>
  <div class="col-sm-4">{% block selectedstats %} {% endblock %}</div>
  <div class="col-sm-4">{% block selectedsettings %} {% endblock %}</div>
</div>
  <div class="row">
  <div class="col-sm-4"> <a href="{% url 'index'  %}"><h1>Tasks</h1></a></div>
  <div class="col-sm-4"><a href="{% url 'stats'  %}"><h1>Stats</h1></a></div>
  <div class="col-sm-4"><a href="{% url 'blog'  %}"> <h1>Blog</h1></a></div>
</div>
</div>
</header>
<body>
  <img src="{% static "blog/static/images/background.jpeg" %}" class="bgimage">
{% block content %}

{% endblock %}

</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src = "{% static 'blog/static/js/bootstrap.js' %}"></script>
</html>
